<?xml version='1.0' encoding='utf-8'?>
<widget id="com.push.notif.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Centric by VinSync</name>
    <description>
        Centric - Group Management
    </description>
    <author email="arun@vinsync.com" href="http://www.VinSync.com">
        Team VinSync
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
